<!-- Config file for the game -->

<config>
   <app framerate_cap="60">
    <title>Escape</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
    <camera camera_x="100" camera_y="0"/>
  </renderer>

  <window>
    <resolution width="1024" height="700" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <first_map value ="0"/>
    <background r ="0" g="0" b="0"/>
    <map directory ="Map 1.tmx"/>
    <map directory ="Escaping One.tmx"/>
  </map>

  <player>
    <dimentions clld_width="30" clld_height="60"/>
    <acceleration acc_y="15.0" acc_x="5.0"/>
    <velocity value="5.0"/>
    <gravity value="0.75"/>
  </player>

  <collision>
    <debug value ="false"/>
  </collision>
  
</config>