<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <folder>maps/</folder>
    <sprite content="Marion.png"/>
  </player>

  <scenes>
    <nameMap name="Mapa1.tmx"></nameMap>
      <nameMap name="Mapa2.tmx"></nameMap>
  </scenes>
  
</config>