<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="700" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <initial_map value ="0"/>
    <background r ="0" g="0" b="0"/>
    <map directory ="BondacheMap1.tmx"/>
    <map directory ="BondacheMap2.tmx"/>
  </map>

  <player>
    <dimentions clld_width="30" clld_height="60"/>
    <acceleration jump="1.5" horizontal="0.015"/>
    <velocity value="0.5"/>
    <gravity value="0.0075"/>
  </player>

  <collision>
    <debug value ="false"/>
  </collision>
  
</config>